{% extends "base.html" %}
{% load i18n %}
 {% block content %}
        <img class="HBox.loginCenterPanel" src="{{MEDIA_URL}}images/login_image.jpg" alt="login">
<p>With Nokia Data Gathering (NDG), field workers can collect, send and receive information quickly and securely, at any time and from almost anywhere. It’s simple to use and requires very little training. It replaces the traditional, cumbersome methods of data collection, such as paper forms, and laptops, with one lightweight, pocket-sized device: the mobile phone.</p>
{% endblock %}
